#  Copyright  (C)  jemin Information Technology @  All Rights  Reserved - 2017 @  CDollarPart2 Professional  Edition


#  CDollarPart2 : Product  Code :  JIT-00-SRGX-A2

# CDollar file  Extensions(.dll ,.class,.exe,.cdollar,.wl files)

#  Followed   CDollarc ,CDollarv.4 , CDRUN ,cjavac,cjava,etc.

#  Java/j2ee   professionals  can  follow  this  CDollarpart2

#  CDollarPart2  is  invented  in  JAVA  technology and  C#  Technology.

#  CDollarPart2   is  used  for  Code  Obsucation  and  prevent  Code  Stealing

# Validity  time  is only  1  month .Professionals  can  download   the CDollarpart2  software 

# After  one  month and  this  software  is used at  any   windows platform.

